<div id = "pets_show">
<br>
<h2 id ="h2">Congratulations! You've just adopted <%=@pet.name%>!</h2>
<br><%= image_tag @pet.image, :width => 350, :height => 200 %><br>
<br>
 <p>Plese allow to 2-3-business days to complete the paperwork and ship <%=@pet.name%> to you.</p>
 <h6><%= button_to "See other dogs", pets_path, method: :get%></h6>
 </div>