<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Puppy Link!</title>
  </head>
  <body>
  <h1>Welcome to Puppy Link!</h1>
  <br>
  <h3> Our website is a Link between Future dog owners and Breeders. <br>We are a place where you can adopt a dog or give a dog for adoption!</h2>
  <br>
  <ul>
  <h4>As a User you can:</h4>


  <li>Sign in /up /out</li>
  <li>See user Profile page</li>
  <li>See all available dogs / individual dog</li>
  <li>Adopt a pet</li>
  <li>Rate a breeder</li>
  
<br>
<h4>As a Breeder you can:</h4>


  <li>Sign in /out</li>
  <li>Register a new breeder</li>
  <li>Update the breeder info</li>
  <li>See all dogs / individual dog</li>
  <li>List (create) a new pet</li>
  </ul>


<p>Enjoy the experience!</p>
  </body>
</html>




