<div align="center" id = "welcome">
<h1 id ="welcome_head"> WELCOME TO PUPPY LINK </h1>
<br><br><br><br><br><br><br><br><br><br>
<%= button_to "User Login", users_login_path, method: "get" %><br>
<%= button_to "Breeder Login", breeders_login_path, method: "get"%><br>
<%= button_to "User Sign Up", new_user_path, method: "get"%><br>
<%= button_to "Breeder Sign Up", new_breeder_path, method: "get"%><br><br>

</div> 


<button type="button" class="btn btn-outline-primary">Primary</button>