/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#welcome{
    height: 100vh;
    background-image:linear-gradient(rgba(128, 128, 128, 0.267)), url("https://cdn.aarp.net/content/dam/aarp/money/scams_fraud/2019/12/1140-puppy-sad.imgcache.rev0ad3bc014bcf8eff941546fd6e8204eb.jpg");
    background-size: cover;
    background-position: top;
    
}

#all_bg{
    height: 100vh;
    background-image:linear-gradient(rgb(255, 255, 255)), url("https://data.whicdn.com/images/253609793/original.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
 
 #welcome_head {
     border: groove;
     border-color: rgb(114, 112, 216);
     color: rgba(109, 14, 197, 0.918);
     font-style: ;
     width: 25%;
     position: absolute;
     left: 50%;
     top: 10%;
     transform: translate(-50%);
 }

 

 h1{
     color: rgba(109, 14, 197, 0.918)
 }

 nav {
     position: fixed;
     top:0%;
     left: 0%;
     text-align: center;
     height: 5%;
     width: 100%;
    background-color: peru;
 }


 
